extends ../layouts/master.pug

block csslib
	link(href='/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')

block jslib
	// begin::Vendors Javascript(used by this page)
	script(src='/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	// end::Vendors Javascript
	// begin::Custom Javascript(used by this page)
	//- script(src='/admin/assets/js/custom/apps/subscriptions/add/advanced.js')
	//- script(src='/admin/assets/js/custom/apps/subscriptions/add/customer-select.js')
	//- script(src='/admin/assets/js/custom/apps/subscriptions/add/products.js')
	script(src='/admin/assets/js/widgets.bundle.js')
	script(src='/admin/assets/js/custom/widgets.js')
	script(src='/admin/assets/js/custom/apps/chat/chat.js')
	script(src='/admin/assets/js/custom/utilities/modals/upgrade-plan.js')
	script(src='/admin/assets/js/custom/utilities/modals/create-app.js')
	script(src='/admin/assets/js/custom/utilities/modals/offer-a-deal/type.js')
	script(src='/admin/assets/js/custom/utilities/modals/offer-a-deal/details.js')
	script(src='/admin/assets/js/custom/utilities/modals/offer-a-deal/finance.js')
	script(src='/admin/assets/js/custom/utilities/modals/offer-a-deal/complete.js')
	script(src='/admin/assets/js/custom/utilities/modals/offer-a-deal/main.js')
	// end::Custom Javascript

	script(src='/common/js/form-data-json.min.js')
	script(src='/common/js/es-form.js')

block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0 Account Settings
					ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
						li.breadcrumb-item.text-muted
							a.text-muted.text-hover-primary(href='/admin/dashboard') Dashboard
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted Account 
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted Change Password
		#kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				.card.mb-5.mb-xl-10
					.card-header.border-0.cursor-pointer(role='button' data-bs-toggle='collapse' data-bs-target='#kt_account_profile_details' aria-expanded='true' aria-controls='kt_account_profile_details')
						.card-title.m-0
							h3.fw-bold.m-0 Password Reset
					#kt_account_settings_profile_details.collapse.show
						form#kt_account_profile_details_form.form.es-form(action=`/admin/user/change-password` data-kt-redirect-url=`/admin/user`  method='post' autocomplete="off")
							.card-body.border-top.p-9
								.row.mb-6
									label.col-lg-4.col-form-label.fw-semibold.fs-6
										span.required Current Password
										i.fas.fa-exclamation-circle.ms-1.fs-7(data-bs-toggle='tooltip' title='Current password should be enter to update profile details')
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='password' name='password' placeholder='Current Password' value='' autocomplete="new-password")
										.fv-plugins-message-container.invalid-feedback(id=`field-error-password`)
								.row.mb-6
									label.col-lg-4.col-form-label.fw-semibold.fs-6
										span.required New Password
										i.fas.fa-exclamation-circle.ms-1.fs-7(data-bs-toggle='tooltip' title='Current password should be enter to update profile details')
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='password' name='new_password' placeholder='New Password' value='' autocomplete="new-password")
										.fv-plugins-message-container.invalid-feedback(id=`field-error-new_password`)
								.row.mb-6
									label.col-lg-4.col-form-label.fw-semibold.fs-6
										span.required Confirm Password
										i.fas.fa-exclamation-circle.ms-1.fs-7(data-bs-toggle='tooltip' title='Current password should be enter to update profile details')
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='password' name='confirm_password' placeholder='Confirm Password' value='' autocomplete="new-password")
										.fv-plugins-message-container.invalid-feedback(id=`field-error-confirm_password`)
							.card-footer.d-flex.justify-content-end.py-6.px-9
								button#kt_account_profile_details_submit.btn.btn-primary.form-submit-btn(type='submit') 
									span.preloader.d-none
										| Updating
									span.label
										| Save Changes