<div class="row ">

    <div class="shadow col-lg-4 p-3 mb-5 bg-white rounded">
        Total Sales
    </div>
    <div class="shadow col-lg-4 p-3 mb-5 bg-white rounded">
        Total Sales
    </div>
    <div class="shadow col-lg-4 p-3 mb-5 bg-white rounded">
        Total Sales
    </div>
</div>