<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/admin/user-report" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="start">Starting Date</label>
                        <input type="date" class="form-control" id="start" name="StartDate" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="end">Ending Date</label>
                        <input type="date" class="form-control" id="end" name="EndDate" required>
                    </div>
                    <div class="form-group col-md-4 mt-4">
                        <input type="submit" value="Submit" class="btn btn-block btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>