<div id="shopify-section-footer" class="shopify-section">
    <footer class="footer-area gray-bgb pt-100 pb-70" style="background-color: #000;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-about">
                            <h4 class="footer-title">About Watchin</h4>
                            <p> Discover the latest trends of the on season.</p>
                        </div>
                        <div class="footer-widget-l-content">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-m-content text-center">
                            <div class="footer-logo">
                                <a href="/">
                                    <h2>Watchin.</h2>
                                </a>
                            </div>
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/profile">My Account</a></li>
                                        <li><a href="/checkout">Checkout</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/products">Shop</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="footer-paymethod">
                                <ul>
                                    <li>

                                    </li>
                                </ul>
                            </div>
                            <p class="neha_copyright">Copyright © <a href="/">Watchin</a>. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="footer-widget f-right mb-30">
                        <div class="footer-widget-r-content">
                            <ul>
                                <li><span>Phone: </span> +91 7025259794</li>
                                <li><span>Email: </span> shabithkms2035@gmail.com</li>
                                <li>
                                    <div class="row">
                                        <div>
                                            <span>Address: </span>
                                        </div>
                                        <div>
                                            Kaizen Coworks <br>
                                            Kuttichira, South Beach <br>
                                            Calicut
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <style>
        .footer-widget-l-content a,
        .footer-title,
        .footer-widget-about>p,
        .footer-nav ul li a,
        .footer-widget-m-content>p,
        .footer-widget-r-content li,
        .neha_copyright a {
            color: #fff;
        }

        .footer-widget-l-content a {
            border: 1px solid #fff;
        }

        .footer-nav::before {
            background: #fff none repeat scroll 0 0;
        }

        .footer-nav ul li a:hover,
        .neha_copyright a:hover {
            color: #a8741a;
        }

        .footer-widget-l-content a:hover {
            border: 1px solid #a8741a;
            background-color: #a8741a;
        }
    </style>
</div>