<style>
    label.error {
        color: red !important;
    }
    .register-area{
        height: 100vh;
    }
</style>
<div class="register-area ptb-100  shop-limited-area bg-img ml-35 mr-35 ">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="text-center">
                            <h3 class=" pb-4">Admin Login</h3>
                        </div>
                        <div id="CustomerLoginForm" class="login-form">
                            <form method="post" action="/admin/auth/login" id="adminLogin">

                                {{#if loginError}}
                                <div class="alert alert-danger" role="alert">
                                    {{loginError}}
                                </div>
                                {{/if}}
                                {{#if noAdmin}}
                                <div class="alert alert-danger" role="alert">
                                    Invalid Email
                                </div>
                                {{/if}}
                                <label for="email" id="error" class="error"></label>
                                <input type="email" name="email" id="email" class="input-full"
                                    placeholder="Enter your email" autocorrect="off" autocapitalize="off" autofocus>
                                <label for="password" id="error" class="error"></label>
                                <input type="password" value="" name="password" id="password" class="input-full"
                                    placeholder="Password">
                                <div class="button-box justify-content-center">
                                    <center>
                                        <button type="submit" class="default-btn floatright">Sign In</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>