<div class="container h-100 " style="height: 100%; margin-bottom: 50px;">




    <!-- Cart Area Start -->
    <div class="cart-main-area h-100 mt-5" style="padding-bottom: 150px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center"> 
                        <h2 class="text-danger">ORDER CANCELLED</h2>
                    </div>
                    <div class="alert bg-light border-secondary mt-5">
                        <p class="display-4 text-center">Thankyou For Choosing Us</p>
                        <h5 class="display-5 text-center text-danger">Your Payment  Failed</h5>
                        <h5 class="text-center"> {{orderId}}</h5>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <a class="btn btn-secondary" style="" href="/myOrders">My Orders</a>
                    <a class="btn btn-primary" style="" href="/">Go to Home</a>
                </div>
            </div>

        </div>
    </div>
</div>