<style>
    .pass_show {
        position: relative
    }

    .pass_show .ptxt {

        position: absolute;

        top: 50%;

        right: 10px;

        z-index: 1;

        color: #f36c01;

        margin-top: -10px;

        cursor: pointer;

        transition: .3s ease all;

    }

    .pass_show .ptxt:hover {
        color: #333333;
    }

    .actived {
        background: #a8741a;
        color: white;
    }

    .actived:hover {
        background: #a8741a;
        color: white;
    }

    .kms {
        background: #a8741a;
    }


    .kms:hover {
        background: #a8741a;
    }

    /* Profile container */
    .profile {
        margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;


        width: 120px;
        height: 120px;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }

    .profile-userbuttons .btn:last-child {
        margin-right: 0px;
    }

    .profile-usermenu {
        margin-top: 30px;
    }

    .profile-usermenu ul li {
        border-bottom: 1px solid #f0f4f7;
    }

    .profile-usermenu ul li:last-child {
        border-bottom: none;
    }

    .profile-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
    }

    .profile-usermenu ul li a i {
        margin-right: 8px;
        font-size: 14px;
    }

    .profile-usermenu ul li a:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
    }

    .profile-usermenu ul li.active {
        border-bottom: none;
    }

    .profile-usermenu ul li.active a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
    }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }
</style>
<div class="container mt-3  pb-5">
    <div class="row  justify-content-center  pb-5">
        <div class="col-md-3 ">
            <div class="profile-sidebar">
                <div class="list-group ">
                    <a href="/profile" class="list-group-item list-group-item-action ">PROFILE</a>
                    <a href="/myOrders" class="list-group-item list-group-item-action">My Orders</a>
                    {{!-- <a href="/addNewAddressProfile" class="list-group-item list-group-item-action">Add New
                        address</a> --}}
                    <a href="/change-password" class="list-group-item list-group-item-action actived">Change
                        Password</a>
                </div>
            </div>
        </div>
        <div class="col-md-9 pb-5  justify-content-center" style="border: 1px solid gray;">
            <div class="col-md-6">
                <form action="/change-password" method="post" class="mt-2" id="change-password">
                    <div >
                        {{#if notSame}}
                        <div class="alert alert-danger " role="alert">
                            New passwords must be same
                        </div>
                        {{/if}}
                        {{#if invalid}}
                        <div class="alert alert-danger" role="alert">
                            Current password is invalid
                        </div>
                        {{/if}}
                    </div>
                    <label>Current Password</label>
                    <div class="form-group pass_show">
                        <input type="password" value="" name="current" class="form-control"
                            placeholder="Current Password" required>
                    </div>
                    <label>New Password</label>
                    <div class="form-group pass_show">
                        <input type="password" value="" name="password1" class="form-control"
                            placeholder="New Password">
                    </div>
                    <label>Confirm Password</label>
                    <div class="form-group pass_show">
                        <input type="password" value="" name="password2" class="form-control"
                            placeholder="Confirm Password">
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" value="CHANGE" class="btn btn-primary"
                            style="background: #a8741a; border: none;"> Change
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{{!-- Scripts for show button in change password input box --}}
<script>

    $(document).ready(function () {
        $('.pass_show').append('<span class="ptxt">Show</span>');
    });


    $(document).on('click', '.pass_show .ptxt', function () {

        $(this).text($(this).text() == "Show" ? "Hide" : "Show");

        $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'; });

    });
</script>