<div class="container  text-center " style="background: none; padding-top: 10%;">

     <i class="far fa-heart fa-5x"></i>
    <h2>Wishlist is Empty!!</h2> <br> 
    <h5 class="" style="padding-bottom: 5rem;"><a href="/products">Continue Shopping..</a></h5>
</div>