<div class="container  text-center" style="background: none;">

     <img src="/icons/shopping-cart-empty-side-view.png" alt="">
    <h2>Cart is Empty!!</h2> <br> 
    <h5><a href="/">Continue Shopping..</a></h5>
</div>