


<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <form action="/setPassword" method="post" id="setPassword">
            <div class="card p-2 text-center">
                <div class="text-center mb-3">
                    <h3>Set Password</h3>
                </div>


                <div id="CustomerLoginForm" class="login-form">




                    <input type="password" name="password1" id="CustomerNo" class="input-full mb-2"
                        placeholder="Enter your password" autocorrect="off" autocapitalize="off" 
                        autofocus>
                    <input type="password" name="password2" id="CustomerNo" class="input-full"
                        placeholder="Retype your password" autocorrect="off" autocapitalize="off" 
                        autofocus>




                    <div class="button-box">
                        {{#if loginErr}}
                        <h6 class="font pb-3" style="color: red;">invalid Password</h6>
                        {{/if}}
                        {{#if notSame}}
                        <h7 class="font pb-3" style="color: red;">Password must be same</h7>
                        <br>
                        {{/if}}
                        {{#if blockErr}}
                        <h6 class="font pb-3" style="color: red;">You are Blocked By admin</h6>
                        {{/if}}
                        {{#if otpErr}}
                        <h6 class="font pb-3" style="color: red;">Server is Busy</h6>
                        {{/if}}





                        <button type="submit" class="default-btn floatright">set Password</button>
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>