<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <form action="/signup/otp" method="post">
            {{#if otpErr}}
            <div class="alert alert-danger" role="alert">
                The server is busy
            </div>
            {{/if}}
            {{#if maxOtp}}
            <div class="alert alert-danger" role="alert">
                The server is busy
            </div>
            {{/if}}
            {{#if invalidOtp}}
            <div class="alert alert-danger" role="alert">
                Invalid OTP
            </div>
            {{/if}}
            <div class="card p-2 text-center" style="height: fit-content;">
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">

                    <input type="text" style="display: none;" value="" name="mobiileNo">

                    <input type="text" name="otp" class="input-full" placeholder="Enter your otp"
                        onkeypress="return isNumber(event)" maxlength="6">
                </div>
                <div class="text-center mt-3">
                    <span class="d-block mobile-text" id="countdown"></span>
                </div>
                <div class="text-center mt-3">
                    <a href="/signup/resend-otp">
                        <span class="d-block mobile-text" id="resend"></span>
                    </a>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn mb-3   validate">Verify</button>
                </div>
            </div>
            <div class="content d-flex justify-content-center align-items-center">
                <a href="/signup" class="text-decoration-none ms-3 mt-3" style="font-size: 12px;">Back to signup</a>
            </div>
        </form>
    </div>
</div>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>