<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <form action="/setPassword" method="post" id="setPassword">
            {{#if loginErr}}
            <div class="alert alert-danger" role="alert">
                Incorrect password
            </div>
            {{/if}}
            {{#if notSame}}
            <div class="alert alert-danger" role="alert">
                Password must be same
            </div>
            {{/if}}
            {{#if blockErr}}
            <div class="alert alert-danger" role="alert">
                You are temporarily blocked by admin
            </div>
            {{/if}}
            {{#if otpErr}}
            <div class="alert alert-danger" role="alert">
                The server is busy
            </div>
            {{/if}}
            <div class="card p-2 text-center">
                <div class="text-center mb-3">
                    <h3>Set Password</h3>
                </div>
                <div id="CustomerLoginForm" class="login-form">
                    <input type="password" name="password1" id="p1" class="input-full mb-2"
                        placeholder="Enter your password" autocorrect="off" autocapitalize="off" autofocus>
                    <label for="p2" class="error" hidden></label>
                    <input type="password" name="password2" id="p2" class="input-full"
                        placeholder="Retype your password" autocorrect="off" autocapitalize="off" autofocus>
                    <div class="button-box">
                        <button type="submit" class="default-btn floatright">set Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>