<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <form action="/forgetPassword" method="post">
            <div class="card p-2 text-center">



                <div id="CustomerLoginForm" class="login-form">




                    <input type="tel" name="mobileNo" id="CustomerNo" class="input-full" placeholder="Enter your number"
                        autocorrect="off" autocapitalize="off" maxlength="10" autofocus>




                    <div class="button-box">
                        {{#if loginErr}}
                        <h6 class="font pb-3" style="color: red;">invalid Password</h6>
                        {{/if}}
                        {{#if noUser}}
                        <h6 class="font pb-3" style="color: red;">invalid User</h6>
                        {{/if}}
                        {{#if blockErr}}
                        <h6 class="font pb-3" style="color: red;">You are Blocked By admin</h6>
                        {{/if}}
                        {{#if otpErr}}
                        <h6 class="font pb-3" style="color: red;">Server is Busy</h6>
                        {{/if}}





                        <button type="submit" class="default-btn floatright">Send OTP</button>
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>