<div class="container">
    <div class="row">
        {{#each wishlistProducts}}
        <p>
            {{this.product.name}}
            <img src="/productImages/{{this.product._id}}a.jpg" width="380px" height="400px">
        </p>
        {{/each}}
    </div>
</div>