<div class="register-area ptb-100 shop-limited-area bg-img ml-35 mr-35">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="text-center">
                            <h3 class=" pb-4">User Login</h3>
                        </div>

                        <div class="note form-success" id="ResetSuccess" style="display:none;">
                            We&#39;ve sent you an email with a link to update your password.
                        </div>
                        <div id="CustomerLoginForm" class="login-form">
                            <form method="post" action="/login" id="userLogin" accept-charset="UTF-8">
                                {{#if loginErr}}
                                <div class="alert alert-danger" role="alert">
                                    Incorrect Password
                                </div>
                                {{/if}}
                                {{#if noUser}}
                                <div class="alert alert-danger" role="alert">
                                    Invalid User
                                </div>
                                {{/if}}
                                {{#if blockErr}}
                                <div class="alert alert-danger" role="alert">
                                    You are temporarily blocked by admin 
                                </div>
                                {{/if}}
                                {{#if otpErr}}
                                <div class="alert alert-danger" role="alert">
                                    The server is busy
                                </div>
                                {{/if}}
                                <input type="tel" name="mobileNo" id="CustomerNo" class="input-full"
                                    placeholder="Enter your number" onkeypress="return isNumber(event)"
                                    autocorrect="off" autocapitalize="off" maxlength="10" autofocus>

                                <input type="password" value="" name="password" maxlength="20" id="CustomerPassword"
                                    class="input-full" placeholder="Password">
                                <div class="button-box">

                                    <div class="row">
                                        <div class="login-toggle-btn ml-3">
                                            <a href="/signup">Don't have an account?</a>
                                        </div>
                                        <div class="login-toggle-btn ml-auto mr-3">
                                            <a href="/forgetPassword" id="RecoverPassword">Forgot your password?</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <button type="submit" class="default-btn ml-3">Sign In</button>
                                        </div>
                                        <div class="ml-auto mr-4 mt-2">
                                            <a href="/loginOtp" class=" ml-1" style="margin-top: 1em !important;">Login
                                                with OTP</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>