extends ../layouts/master.pug

block csslib
	link(href='/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')
	link(href='/admin/assets/plugins/custom/vis-timeline/vis-timeline.bundle.css' rel='stylesheet' type='text/css')

block jslib
	script(src='/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	script(src='/admin/assets/plugins/custom/vis-timeline/vis-timeline.bundle.js')
	script(src='https://cdn.amcharts.com/lib/5/index.js')
	script(src='https://cdn.amcharts.com/lib/5/xy.js')
	script(src='https://cdn.amcharts.com/lib/5/percent.js')
	script(src='https://cdn.amcharts.com/lib/5/radar.js')
	script(src='https://cdn.amcharts.com/lib/5/themes/Animated.js')
	script(src='https://cdn.amcharts.com/lib/5/map.js')
	script(src='https://cdn.amcharts.com/lib/5/geodata/worldLow.js')
	script(src='https://cdn.amcharts.com/lib/5/geodata/continentsLow.js')
	script(src='https://cdn.amcharts.com/lib/5/geodata/usaLow.js')
	script(src='https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js')
	script(src='https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js')
	script(src='/admin/assets/js/widgets.bundle.js')
	script(src='/admin/assets/js/custom/widgets.js')
	script(src='/admin/assets/js/custom/apps/chat/chat.js')
	script(src='/admin/assets/js/custom/utilities/modals/upgrade-plan.js')
	script(src='/admin/assets/js/custom/utilities/modals/new-target.js')
	script(src='/admin/assets/js/custom/utilities/modals/users-search.js')

block customScript
	script.
		console.log(`#{analyticsData.user.value}`)

block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0 Website Analytics
					ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
						li.breadcrumb-item.text-muted
							a.text-muted.text-hover-primary(href='../../demo1/dist/index.html') Home
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted Dashboards
				.d-flex.align-items-center.gap-2.gap-lg-3
					.btn.btn-sm.fw-bold.bg-body.btn-color-gray-700.btn-active-color-primary.d-flex.align-items-center.px-4(data-kt-daterangepicker='true' data-kt-daterangepicker-opens='left')
						.text-gray-600.fw-bold Loading date range...
						span.svg-icon.svg-icon-1.ms-2.me-0
							svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(opacity='0.3' d='M21 22H3C2.4 22 2 21.6 2 21V5C2 4.4 2.4 4 3 4H21C21.6 4 22 4.4 22 5V21C22 21.6 21.6 22 21 22Z' fill='currentColor')
								path(d='M6 6C5.4 6 5 5.6 5 5V3C5 2.4 5.4 2 6 2C6.6 2 7 2.4 7 3V5C7 5.6 6.6 6 6 6ZM11 5V3C11 2.4 10.6 2 10 2C9.4 2 9 2.4 9 3V5C9 5.6 9.4 6 10 6C10.6 6 11 5.6 11 5ZM15 5V3C15 2.4 14.6 2 14 2C13.4 2 13 2.4 13 3V5C13 5.6 13.4 6 14 6C14.6 6 15 5.6 15 5ZM19 5V3C19 2.4 18.6 2 18 2C17.4 2 17 2.4 17 3V5C17 5.6 17.4 6 18 6C18.6 6 19 5.6 19 5Z' fill='currentColor')
								path(d='M8.8 13.1C9.2 13.1 9.5 13 9.7 12.8C9.9 12.6 10.1 12.3 10.1 11.9C10.1 11.6 10 11.3 9.8 11.1C9.6 10.9 9.3 10.8 9 10.8C8.8 10.8 8.59999 10.8 8.39999 10.9C8.19999 11 8.1 11.1 8 11.2C7.9 11.3 7.8 11.4 7.7 11.6C7.6 11.8 7.5 11.9 7.5 12.1C7.5 12.2 7.4 12.2 7.3 12.3C7.2 12.4 7.09999 12.4 6.89999 12.4C6.69999 12.4 6.6 12.3 6.5 12.2C6.4 12.1 6.3 11.9 6.3 11.7C6.3 11.5 6.4 11.3 6.5 11.1C6.6 10.9 6.8 10.7 7 10.5C7.2 10.3 7.49999 10.1 7.89999 10C8.29999 9.90003 8.60001 9.80003 9.10001 9.80003C9.50001 9.80003 9.80001 9.90003 10.1 10C10.4 10.1 10.7 10.3 10.9 10.4C11.1 10.5 11.3 10.8 11.4 11.1C11.5 11.4 11.6 11.6 11.6 11.9C11.6 12.3 11.5 12.6 11.3 12.9C11.1 13.2 10.9 13.5 10.6 13.7C10.9 13.9 11.2 14.1 11.4 14.3C11.6 14.5 11.8 14.7 11.9 15C12 15.3 12.1 15.5 12.1 15.8C12.1 16.2 12 16.5 11.9 16.8C11.8 17.1 11.5 17.4 11.3 17.7C11.1 18 10.7 18.2 10.3 18.3C9.9 18.4 9.5 18.5 9 18.5C8.5 18.5 8.1 18.4 7.7 18.2C7.3 18 7 17.8 6.8 17.6C6.6 17.4 6.4 17.1 6.3 16.8C6.2 16.5 6.10001 16.3 6.10001 16.1C6.10001 15.9 6.2 15.7 6.3 15.6C6.4 15.5 6.6 15.4 6.8 15.4C6.9 15.4 7.00001 15.4 7.10001 15.5C7.20001 15.6 7.3 15.6 7.3 15.7C7.5 16.2 7.7 16.6 8 16.9C8.3 17.2 8.6 17.3 9 17.3C9.2 17.3 9.5 17.2 9.7 17.1C9.9 17 10.1 16.8 10.3 16.6C10.5 16.4 10.5 16.1 10.5 15.8C10.5 15.3 10.4 15 10.1 14.7C9.80001 14.4 9.50001 14.3 9.10001 14.3C9.00001 14.3 8.9 14.3 8.7 14.3C8.5 14.3 8.39999 14.3 8.39999 14.3C8.19999 14.3 7.99999 14.2 7.89999 14.1C7.79999 14 7.7 13.8 7.7 13.7C7.7 13.5 7.79999 13.4 7.89999 13.2C7.99999 13 8.2 13 8.5 13H8.8V13.1ZM15.3 17.5V12.2C14.3 13 13.6 13.3 13.3 13.3C13.1 13.3 13 13.2 12.9 13.1C12.8 13 12.7 12.8 12.7 12.6C12.7 12.4 12.8 12.3 12.9 12.2C13 12.1 13.2 12 13.6 11.8C14.1 11.6 14.5 11.3 14.7 11.1C14.9 10.9 15.2 10.6 15.5 10.3C15.8 10 15.9 9.80003 15.9 9.70003C15.9 9.60003 16.1 9.60004 16.3 9.60004C16.5 9.60004 16.7 9.70003 16.8 9.80003C16.9 9.90003 17 10.2 17 10.5V17.2C17 18 16.7 18.4 16.2 18.4C16 18.4 15.8 18.3 15.6 18.2C15.4 18.1 15.3 17.8 15.3 17.5Z' fill='currentColor')
					a.btn.btn-sm.fw-bold.btn-primary(href='#' data-bs-toggle='modal' data-bs-target='#kt_modal_new_target') Add Target
		#kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				.row.gx-5.gx-xl-10
					.col-xxl-4.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.py-7
								.m-0
									.d-flex.align-items-center.mb-2
										span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 35,568
										span.badge.badge-light-danger.fs-base
											span.svg-icon.svg-icon-5.svg-icon-danger.ms-n1
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;8.02%
									span.fs-6.fw-semibold.text-gray-400 Organic Sessions
								.card-toolbar
									button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
										span.svg-icon.svg-icon-1.svg-icon-gray-300.me-n1
											svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
												rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
										.menu-item.px-3
											.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
										.separator.mb-3.opacity-75
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Ticket
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Customer
										.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
											a.menu-link.px-3(href='#')
												span.menu-title New Group
												span.menu-arrow
											.menu-sub.menu-sub-dropdown.w-175px.py-4
												.menu-item.px-3
													a.menu-link.px-3(href='#') Admin Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Staff Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Member Group
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Contact
										.separator.mt-3.opacity-75
										.menu-item.px-3
											.menu-content.px-3.py-3
												a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.pt-0.pb-1
								#kt_charts_widget_27.min-h-auto
					.col-xxl-4.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.py-7
								.m-0
									.d-flex.align-items-center.mb-2
										span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 2,579
										span.badge.badge-light-success.fs-base
											span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2.2%
									span.fs-6.fw-semibold.text-gray-400 Domain External Links
								.card-toolbar
									button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
										span.svg-icon.svg-icon-1.svg-icon-gray-300.me-n1
											svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
												rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
										.menu-item.px-3
											.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
										.separator.mb-3.opacity-75
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Ticket
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Customer
										.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
											a.menu-link.px-3(href='#')
												span.menu-title New Group
												span.menu-arrow
											.menu-sub.menu-sub-dropdown.w-175px.py-4
												.menu-item.px-3
													a.menu-link.px-3(href='#') Admin Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Staff Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Member Group
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Contact
										.separator.mt-3.opacity-75
										.menu-item.px-3
											.menu-content.px-3.py-3
												a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.d-flex.align-items-end.ps-4.pe-0.pb-4
								#kt_charts_widget_28.h-300px.w-100.min-h-auto
					.col-xxl-4.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.py-7
								.m-0
									.d-flex.align-items-center.mb-2
										span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 5,037
										span.badge.badge-light-success.fs-base
											span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2.2%
									span.fs-6.fw-semibold.text-gray-400 Visits by Social Networks
								.card-toolbar
									button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
										span.svg-icon.svg-icon-1.svg-icon-gray-300.me-n1
											svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
												rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
										.menu-item.px-3
											.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
										.separator.mb-3.opacity-75
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Ticket
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Customer
										.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
											a.menu-link.px-3(href='#')
												span.menu-title New Group
												span.menu-arrow
											.menu-sub.menu-sub-dropdown.w-175px.py-4
												.menu-item.px-3
													a.menu-link.px-3(href='#') Admin Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Staff Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Member Group
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Contact
										.separator.mt-3.opacity-75
										.menu-item.px-3
											.menu-content.px-3.py-3
												a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.card-body.d-flex.justify-content-between.flex-column.pt-3
								.d-flex.flex-stack
									img.me-4.w-30px(src='assets/media/svg/brand-logos/dribbble-icon-1.svg' style='border-radius: 4px' alt='')
									.d-flex.align-items-center.flex-stack.flex-wrap.flex-row-fluid.d-grid.gap-2
										.me-5
											a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Dribbble
											span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Community
										.d-flex.align-items-center
											span.text-gray-800.fw-bold.fs-4.me-3 579
											.m-0
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2.6%
								.separator.separator-dashed.my-3
								.d-flex.flex-stack
									img.me-4.w-30px(src='assets/media/svg/brand-logos/linkedin-1.svg' style='border-radius: 4px' alt='')
									.d-flex.align-items-center.flex-stack.flex-wrap.flex-row-fluid.d-grid.gap-2
										.me-5
											a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Linked In
											span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Social Media
										.d-flex.align-items-center
											span.text-gray-800.fw-bold.fs-4.me-3 1,088
											.m-0
												span.badge.badge-light-danger.fs-base
													span.svg-icon.svg-icon-5.svg-icon-danger.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='11' y='18' width='13' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
															path(d='M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;0.4%
								.separator.separator-dashed.my-3
								.d-flex.flex-stack
									img.me-4.w-30px(src='assets/media/svg/brand-logos/slack-icon.svg' style='border-radius: 4px' alt='')
									.d-flex.align-items-center.flex-stack.flex-wrap.flex-row-fluid.d-grid.gap-2
										.me-5
											a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Slack
											span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Messanger
										.d-flex.align-items-center
											span.text-gray-800.fw-bold.fs-4.me-3 794
											.m-0
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;0.2%
								.separator.separator-dashed.my-3
								.d-flex.flex-stack
									img.me-4.w-30px(src='assets/media/svg/brand-logos/youtube-3.svg' style='border-radius: 4px' alt='')
									.d-flex.align-items-center.flex-stack.flex-wrap.flex-row-fluid.d-grid.gap-2
										.me-5
											a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') YouTube
											span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Video Channel
										.d-flex.align-items-center
											span.text-gray-800.fw-bold.fs-4.me-3 978
											.m-0
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4.1%
								.separator.separator-dashed.my-3
								.d-flex.flex-stack
									img.me-4.w-30px(src='assets/media/svg/brand-logos/instagram-2-1.svg' style='border-radius: 4px' alt='')
									.d-flex.align-items-center.flex-stack.flex-wrap.flex-row-fluid.d-grid.gap-2
										.me-5
											a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Instagram
											span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Social Network
										.d-flex.align-items-center
											span.text-gray-800.fw-bold.fs-4.me-3 1,458
											.m-0
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;8.3%
				.row.gx-5.gx-xl-10
					.col-xl-6.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.pt-5
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-gray-800 Top Referral Sources
									span.text-gray-400.pt-1.fw-semibold.fs-6 Counted in Millions
								.card-toolbar
									a.btn.btn-sm.btn-light(href='#') PDF Report
							.card-body.py-3
								.table-responsive
									table.table.table-row-dashed.align-middle.gs-0.gy-4
										thead
											tr.fs-7.fw-bold.border-0.text-gray-400
												th.min-w-150px(colspan='2') CAMPAIGN
												th.min-w-150px.text-end.pe-0(colspan='2') SESSIONS
												th.text-end.min-w-150px(colspan='2') CONVERSION RATE
										tbody
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Google
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6.me-1 1,256
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -935
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6.me-3 23.63%
														span.text-danger.min-w-60px.d-block.text-end.fw-bold.fs-6 -9.35%
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Facebook
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6.me-1 446
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -576
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6.me-3 12.45%
														span.text-danger.min-w-60px.d-block.text-end.fw-bold.fs-6 -57.02%
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Bol.com
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6.me-1 67
														span.text-success.min-w-50px.d-block.text-end.fw-bold.fs-6 +24
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6.me-3 73.63%
														span.text-success.min-w-60px.d-block.text-end.fw-bold.fs-6 +28.73%
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Dutchnews.nl
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6.me-1 2,136
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -1,229
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6.me-3 3.67%
														span.text-danger.min-w-60px.d-block.text-end.fw-bold.fs-6 -12.29%
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Stackoverflow
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6.me-1 945
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -634
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6.me-3 25.03%
														span.text-danger.min-w-60px.d-block.text-end.fw-bold.fs-6 -9.35%
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Themeforest
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6.me-1 237
														span.text-success.min-w-50px.d-block.text-end.fw-bold.fs-6 106
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6.me-3 36.52%
														span.text-success.min-w-60px.d-block.text-end.fw-bold.fs-6 +3.06%
					.col-xl-6.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.pt-5
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-gray-800 Top Performing Pages
									span.text-gray-400.pt-1.fw-semibold.fs-6 Counted in Millions
								.card-toolbar
									a.btn.btn-sm.btn-light(href='#') PDF Report
							.card-body.py-3
								.table-responsive
									table.table.table-row-dashed.align-middle.gs-0.gy-4
										thead
											tr.fs-7.fw-bold.border-0.text-gray-400
												th.min-w-200px(colspan='2') LANDING PAGE
												th.min-w-100px.text-end.pe-0(colspan='2') CLICKS
												th.text-end.min-w-100px(colspan='2') AVG. POSITION
										tbody
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Index
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6 1,256
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -935
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6 2.63
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -1.35
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Products
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6 446
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -576
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6 1.45
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 0.32
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') devs.keenthemes.com
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6 67
														span.text-success.min-w-50px.d-block.text-end.fw-bold.fs-6 +24
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6 7.63
														span.text-success.min-w-50px.d-block.text-end.fw-bold.fs-6 +8.73
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') studio.keenthemes.com
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6 2,136
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -1,229
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6 3.67
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -2.29
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') graphics.keenthemes.com
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6 945
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -634
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6 5.03
														span.text-danger.min-w-50px.d-block.text-end.fw-bold.fs-6 -0.35
											tr
												td(colspan='2')
													a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Licenses
												td.pe-0(colspan='2')
													.d-flex.justify-content-end
														span.text-gray-800.fw-bold.fs-6 237
														span.text-success.min-w-50px.d-block.text-end.fw-bold.fs-6 106
												td(colspan='2')
													.d-flex.justify-content-end
														span.text-dark.fw-bold.fs-6 3.52
														span.text-success.min-w-50px.d-block.text-end.fw-bold.fs-6 +3.06
				.row.gx-5.gx-xl-10
					.col-xl-6.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.pt-7
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-dark Author Sales
									span.text-gray-400.pt-2.fw-semibold.fs-6 Statistics by Countries
								.card-toolbar
									.card-toolbar
										a.btn.btn-sm.btn-light(href='#') PDF Report
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-600.menu-state-bg-light-primary.fw-semibold.w-100px.py-4(data-kt-menu='true')
										.menu-item.px-3
											a.menu-link.px-3(href='#') Remove
										.menu-item.px-3
											a.menu-link.px-3(href='#') Mute
										.menu-item.px-3
											a.menu-link.px-3(href='#') Settings
							.card-body.pt-5
								#kt_charts_widget_15_chart.min-h-auto.ps-4.pe-6.mb-3.h-300px
					.col-xl-6.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.pt-5
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-gray-800 Top Queries by Clicks
									span.text-gray-400.pt-2.fw-semibold.fs-6 Counted in Millions
								.card-toolbar
									a.btn.btn-sm.btn-light(href='#') PDF Report
							.card-body.d-flex.justify-content-between.flex-column.py-3
								.m-0
								.table-responsive.mb-n2
									table.table.table-row-dashed.gs-0.gy-4
										thead
											tr.fs-7.fw-bold.border-0.text-gray-400
												th.min-w-300px KEYWORD
												th.min-w-100px CLICKS
										tbody
											tr
												td
													a.text-gray-600.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Buy phone online
												td.d-flex.align-items-center.border-0
													span.fw-bold.text-gray-800.fs-6.me-3 263
													.progress.rounded-start-0
														.progress-bar.bg-success.m-0(role='progressbar' style='height: 12px;width: 166px' aria-valuenow='166' aria-valuemin='0' aria-valuemax='166px')
											tr
												td
													a.text-gray-600.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Top 10 Earbuds
												td.d-flex.align-items-center.border-0
													span.fw-bold.text-gray-800.fs-6.me-3 238
													.progress.rounded-start-0
														.progress-bar.bg-success.m-0(role='progressbar' style='height: 12px;width: 158px' aria-valuenow='158' aria-valuemin='0' aria-valuemax='158px')
											tr
												td
													a.text-gray-600.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Cyber Monday
												td.d-flex.align-items-center.border-0
													span.fw-bold.text-gray-800.fs-6.me-3 189
													.progress.rounded-start-0
														.progress-bar.bg-success.m-0(role='progressbar' style='height: 12px;width: 129px' aria-valuenow='129' aria-valuemin='0' aria-valuemax='129px')
											tr
												td
													a.text-gray-600.fw-bold.text-hover-primary.mb-1.fs-6(href='#') OLED TV in Amsterdam
												td.d-flex.align-items-center.border-0
													span.fw-bold.text-gray-800.fs-6.me-3 263
													.progress.rounded-start-0
														.progress-bar.bg-success.m-0(role='progressbar' style='height: 12px;width: 112px' aria-valuenow='112' aria-valuemin='0' aria-valuemax='112px')
											tr
												td
													a.text-gray-600.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Macbook M1
												td.d-flex.align-items-center.border-0
													span.fw-bold.text-gray-800.fs-6.me-3 263
													.progress.rounded-start-0
														.progress-bar.bg-success.m-0(role='progressbar' style='height: 12px;width: 107px' aria-valuenow='107' aria-valuemin='0' aria-valuemax='107px')
											tr
												td
													a.text-gray-600.fw-bold.text-hover-primary.mb-1.fs-6(href='#') Best noise cancelation headsets
												td.d-flex.align-items-center.border-0
													span.fw-bold.text-gray-800.fs-6.me-3 263
													.progress.rounded-start-0
														.progress-bar.bg-success.m-0(role='progressbar' style='height: 12px;width: 74px' aria-valuenow='74' aria-valuemin='0' aria-valuemax='74px')
				.row.gx-5.gx-xl-10
					.col-xl-4.mb-5.mb-xl-10
						.card.card-flush.h-xl-100
							.card-header.py-7
								.m-0
									.d-flex.align-items-center.mb-2
										span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 7,9
										span.badge.badge-light-success.fs-base
											span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2.2%
									span.fs-6.fw-semibold.text-gray-400 Avarage Position
								.card-toolbar
									button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
										span.svg-icon.svg-icon-1.svg-icon-gray-300.me-n1
											svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
												rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
										.menu-item.px-3
											.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
										.separator.mb-3.opacity-75
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Ticket
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Customer
										.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
											a.menu-link.px-3(href='#')
												span.menu-title New Group
												span.menu-arrow
											.menu-sub.menu-sub-dropdown.w-175px.py-4
												.menu-item.px-3
													a.menu-link.px-3(href='#') Admin Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Staff Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Member Group
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Contact
										.separator.mt-3.opacity-75
										.menu-item.px-3
											.menu-content.px-3.py-3
												a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.d-flex.align-items-end.p-0
								#kt_charts_widget_29.h-300px.w-100.min-h-auto.ps-7.pe-0.mb-5
					.col-xl-8.mb-5.mb-xl-10
						.card.card-flush.overflow-hidden.h-xl-100
							.card-header.py-5
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-dark Human Resources
									span.text-gray-400.mt-1.fw-semibold.fs-6 Reports by states and ganders
								.card-toolbar
									button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
										span.svg-icon.svg-icon-1
											svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
												rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
										.menu-item.px-3
											.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
										.separator.mb-3.opacity-75
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Ticket
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Customer
										.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
											a.menu-link.px-3(href='#')
												span.menu-title New Group
												span.menu-arrow
											.menu-sub.menu-sub-dropdown.w-175px.py-4
												.menu-item.px-3
													a.menu-link.px-3(href='#') Admin Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Staff Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Member Group
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Contact
										.separator.mt-3.opacity-75
										.menu-item.px-3
											.menu-content.px-3.py-3
												a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.pt-0
								#kt_charts_widget_24.min-h-auto(style='height: 300px')
				.row.gx-5.gx-xl-10
					.col-xl-4.mb-5.mb-xl-0
						.card.card-flush.h-xl-100
							.card-header.pt-7
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-gray-800 Visits by Source
									span.text-gray-400.mt-1.fw-semibold.fs-6 29.4k visitors
								.card-toolbar
									button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
										span.svg-icon.svg-icon-1.svg-icon-gray-300.me-n1
											svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
												rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
										.menu-item.px-3
											.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
										.separator.mb-3.opacity-75
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Ticket
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Customer
										.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
											a.menu-link.px-3(href='#')
												span.menu-title New Group
												span.menu-arrow
											.menu-sub.menu-sub-dropdown.w-175px.py-4
												.menu-item.px-3
													a.menu-link.px-3(href='#') Admin Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Staff Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Member Group
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Contact
										.separator.mt-3.opacity-75
										.menu-item.px-3
											.menu-content.px-3.py-3
												a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.d-flex.align-items-end
								.w-100
									.d-flex.align-items-center
										.symbol.symbol-30px.me-5
											span.symbol-label
												span.svg-icon.svg-icon-3.svg-icon-gray-600
													svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
														path(opacity='0.3' d='M4.05424 15.1982C8.34524 7.76818 13.5782 3.26318 20.9282 2.01418C21.0729 1.98837 21.2216 1.99789 21.3618 2.04193C21.502 2.08597 21.6294 2.16323 21.7333 2.26712C21.8372 2.37101 21.9144 2.49846 21.9585 2.63863C22.0025 2.7788 22.012 2.92754 21.9862 3.07218C20.7372 10.4222 16.2322 15.6552 8.80224 19.9462L4.05424 15.1982ZM3.81924 17.3372L2.63324 20.4482C2.58427 20.5765 2.5735 20.7163 2.6022 20.8507C2.63091 20.9851 2.69788 21.1082 2.79503 21.2054C2.89218 21.3025 3.01536 21.3695 3.14972 21.3982C3.28408 21.4269 3.42387 21.4161 3.55224 21.3672L6.66524 20.1802L3.81924 17.3372ZM16.5002 5.99818C16.2036 5.99818 15.9136 6.08615 15.6669 6.25097C15.4202 6.41579 15.228 6.65006 15.1144 6.92415C15.0009 7.19824 14.9712 7.49984 15.0291 7.79081C15.0869 8.08178 15.2298 8.34906 15.4396 8.55884C15.6494 8.76862 15.9166 8.91148 16.2076 8.96935C16.4986 9.02723 16.8002 8.99753 17.0743 8.884C17.3484 8.77046 17.5826 8.5782 17.7474 8.33153C17.9123 8.08486 18.0002 7.79485 18.0002 7.49818C18.0002 7.10035 17.8422 6.71882 17.5609 6.43752C17.2796 6.15621 16.8981 5.99818 16.5002 5.99818Z' fill='currentColor')
														path(d='M4.05423 15.1982L2.24723 13.3912C2.15505 13.299 2.08547 13.1867 2.04395 13.0632C2.00243 12.9396 1.9901 12.8081 2.00793 12.679C2.02575 12.5498 2.07325 12.4266 2.14669 12.3189C2.22013 12.2112 2.31752 12.1219 2.43123 12.0582L9.15323 8.28918C7.17353 10.3717 5.4607 12.6926 4.05423 15.1982ZM8.80023 19.9442L10.6072 21.7512C10.6994 21.8434 10.8117 21.9129 10.9352 21.9545C11.0588 21.996 11.1903 22.0083 11.3195 21.9905C11.4486 21.9727 11.5718 21.9252 11.6795 21.8517C11.7872 21.7783 11.8765 21.6809 11.9402 21.5672L15.7092 14.8442C13.6269 16.8245 11.3061 18.5377 8.80023 19.9442ZM7.04023 18.1832L12.5832 12.6402C12.7381 12.4759 12.8228 12.2577 12.8195 12.032C12.8161 11.8063 12.725 11.5907 12.5653 11.4311C12.4057 11.2714 12.1901 11.1803 11.9644 11.1769C11.7387 11.1736 11.5205 11.2583 11.3562 11.4132L5.81323 16.9562L7.04023 18.1832Z' fill='currentColor')
										.d-flex.align-items-center.flex-stack.flex-wrap.d-grid.gap-1.flex-row-fluid
											.me-5
												a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Direct Source
												span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Direct link clicks
											.d-flex.align-items-center
												span.text-gray-800.fw-bold.fs-4.me-3 1,067
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2.6%
									.separator.separator-dashed.my-3
									.d-flex.align-items-center
										.symbol.symbol-30px.me-5
											span.symbol-label
												span.svg-icon.svg-icon-3.svg-icon-gray-600
													svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
														path(opacity='0.3' d='M5.72502 20.1899C5.71502 20.1829 5.70401 20.179 5.69401 20.173C4.66853 19.48 3.87892 18.4906 3.43067 17.3369C2.98243 16.1833 2.89688 14.9202 3.18546 13.7167C3.47405 12.5131 4.12303 11.4263 5.04569 10.6013C5.96836 9.77636 7.12077 9.25259 8.34901 9.09998C8.49301 9.08498 8.67602 9.07397 8.87602 9.06897C9.11095 9.06456 9.33992 9.14308 9.52278 9.29065C9.70563 9.43822 9.83071 9.64541 9.87602 9.87598C9.86302 9.87598 9.85301 9.86902 9.84001 9.86902C9.64001 9.87402 9.457 9.88502 9.313 9.90002C8.18466 10.0339 7.11668 10.4822 6.23097 11.194C5.34525 11.9057 4.67748 12.8521 4.30387 13.9252C3.93026 14.9982 3.86585 16.1548 4.11802 17.2627C4.37019 18.3706 4.92879 19.3854 5.73002 20.191L5.72502 20.1899ZM18.252 6.69495C18.6924 6.96887 19.1764 7.16543 19.683 7.276C19.6261 7.08315 19.5171 6.90974 19.368 6.77478C19.219 6.63982 19.0356 6.54852 18.838 6.51099C18.3152 6.40512 17.8149 6.20855 17.36 5.93005C17.6224 6.222 17.9212 6.47898 18.249 6.69495H18.252ZM8.779 18.395C9.202 18.608 9.67239 18.7093 10.1455 18.6895C10.6187 18.6696 11.0789 18.5292 11.4826 18.2816C11.8863 18.034 12.22 17.6873 12.4522 17.2745C12.6843 16.8618 12.8071 16.3965 12.809 15.923V3.80005C12.809 3.53483 12.9144 3.28043 13.1019 3.0929C13.2894 2.90536 13.5438 2.80005 13.809 2.80005H15.109C15.143 2.80005 15.171 2.81402 15.209 2.81702C15.1441 2.58472 15.0058 2.37967 14.8148 2.23242C14.6237 2.08518 14.3902 2.00361 14.149 2H12.849C12.5838 2 12.3295 2.10531 12.1419 2.29285C11.9544 2.48038 11.849 2.73478 11.849 3V15.126C11.8473 15.5988 11.725 16.0633 11.4937 16.4756C11.2624 16.8879 10.9297 17.2344 10.5271 17.4823C10.1246 17.7302 9.66541 17.8713 9.19309 17.8922C8.72078 17.9131 8.25094 17.8133 7.82801 17.6021C8.08083 17.9363 8.40592 18.2091 8.779 18.4V18.395ZM17.29 5.89502C17.312 5.90902 17.338 5.91705 17.36 5.93005C16.7829 5.31815 16.3857 4.55892 16.212 3.73596C16.1661 3.4943 16.0431 3.27412 15.8613 3.1084C15.6795 2.94268 15.4489 2.84042 15.204 2.81702C15.2215 2.85569 15.2365 2.89545 15.249 2.93604C15.3725 3.5419 15.617 4.11659 15.9676 4.62585C16.3183 5.13512 16.7681 5.56851 17.29 5.90002V5.89502ZM9.91102 11.355C9.90901 11.6105 9.80922 11.8556 9.63218 12.0399C9.45514 12.2242 9.21425 12.3337 8.95899 12.3459C8.24648 12.3859 7.57535 12.6935 7.0799 13.2072C6.58446 13.7208 6.30125 14.4025 6.287 15.116C6.28677 15.6307 6.42963 16.1354 6.69962 16.5737C6.96962 17.012 7.35616 17.3667 7.81602 17.598H7.826C7.45283 17.1152 7.25027 16.5222 7.25001 15.912C7.26404 15.1984 7.54715 14.5165 8.04264 14.0028C8.53814 13.4891 9.20941 13.1817 9.92201 13.142C10.1771 13.1295 10.4177 13.0198 10.5946 12.8356C10.7714 12.6513 10.871 12.4064 10.873 12.151V10.864C10.8711 10.6 10.765 10.3474 10.5776 10.1614C10.3903 9.97535 10.137 9.87097 9.87299 9.87097C9.89293 9.93376 9.90634 9.99843 9.913 10.064L9.91102 11.355ZM19.8 7.31104C19.76 7.30304 19.723 7.285 19.683 7.276C19.7148 7.36988 19.7327 7.46794 19.736 7.56702V8.87305C19.736 9.00783 19.7072 9.141 19.6517 9.26379C19.5961 9.38659 19.5149 9.49613 19.4137 9.58508C19.3124 9.67404 19.1934 9.74036 19.0644 9.77966C18.9355 9.81896 18.7997 9.83033 18.666 9.81299C17.3993 9.64132 16.1936 9.16274 15.154 8.41895V14.912C15.1748 16.4605 14.617 17.9611 13.5898 19.12C12.5625 20.2789 11.1398 21.0127 9.60002 21.178C8.23377 21.2965 6.86771 20.9482 5.72502 20.1899C6.00882 20.4809 6.32067 20.7433 6.65602 20.973C7.80538 21.7435 9.18352 22.0981 10.562 21.978C12.1019 21.8128 13.5247 21.0789 14.5521 19.92C15.5795 18.7612 16.1376 17.2606 16.117 15.712V9.21899C17.1563 9.96278 18.3616 10.4414 19.628 10.613C19.7617 10.6304 19.8975 10.619 20.0264 10.5797C20.1554 10.5404 20.2744 10.4741 20.3757 10.3851C20.4769 10.2962 20.5581 10.1866 20.6137 10.0638C20.6692 9.94105 20.698 9.80776 20.698 9.67297V8.36694C20.695 8.11381 20.6036 7.86973 20.4396 7.67688C20.2757 7.48403 20.0494 7.35465 19.8 7.31104Z' fill='currentColor')
														path(d='M15.149 14.912V8.41895C16.1886 9.16274 17.3943 9.64132 18.661 9.81299C18.7947 9.83033 18.9305 9.81896 19.0594 9.77966C19.1884 9.74036 19.3074 9.67404 19.4087 9.58508C19.5099 9.49613 19.5911 9.38659 19.6466 9.26379C19.7022 9.141 19.731 9.00783 19.731 8.87305V7.56702C19.7277 7.46794 19.7098 7.36988 19.678 7.276C19.1714 7.16543 18.6874 6.96887 18.247 6.69495C17.9182 6.47919 17.6184 6.22219 17.355 5.93005C17.333 5.91705 17.307 5.90902 17.285 5.89502C16.7636 5.56407 16.3142 5.13154 15.9635 4.62317C15.6129 4.1148 15.3681 3.541 15.244 2.93604C15.2315 2.89545 15.2165 2.85569 15.199 2.81702C15.166 2.81702 15.138 2.80005 15.099 2.80005H13.799C13.5338 2.80005 13.2794 2.90536 13.0919 3.0929C12.9044 3.28043 12.799 3.53483 12.799 3.80005V15.926C12.7986 16.5066 12.616 17.0725 12.277 17.5438C11.938 18.0152 11.4597 18.3683 10.9093 18.5533C10.359 18.7384 9.76452 18.7462 9.20957 18.5756C8.65462 18.4049 8.16721 18.0644 7.81602 17.6021H7.80601C7.34614 17.3707 6.95964 17.016 6.68964 16.5778C6.41964 16.1395 6.27679 15.6348 6.27701 15.12C6.29127 14.4065 6.57445 13.7247 7.06989 13.2111C7.56534 12.6974 8.2365 12.3899 8.94901 12.35C9.20427 12.3377 9.44516 12.2282 9.6222 12.0439C9.79924 11.8597 9.899 11.6146 9.90101 11.359V10.072C9.89434 10.0065 9.88093 9.94182 9.861 9.87903C9.848 9.87903 9.83802 9.87195 9.82502 9.87195C9.62502 9.87695 9.44201 9.88795 9.29801 9.90295C8.51517 9.85635 7.73118 9.97297 6.99573 10.2452C6.26029 10.5175 5.58941 10.9396 5.02564 11.4847C4.46187 12.0299 4.01752 12.6861 3.72071 13.412C3.42389 14.1379 3.2811 14.9176 3.3014 15.7015C3.32169 16.4855 3.50462 17.2568 3.8386 17.9663C4.17258 18.6759 4.6503 19.3082 5.24152 19.8235C5.83274 20.3387 6.52456 20.7255 7.27311 20.9594C8.02166 21.1932 8.81062 21.2691 9.59 21.182C11.1314 21.0179 12.5559 20.2839 13.5843 19.124C14.6127 17.9641 15.1707 16.462 15.149 14.912Z' fill='currentColor')
										.d-flex.align-items-center.flex-stack.flex-wrap.d-grid.gap-1.flex-row-fluid
											.me-5
												a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Social Networks
												span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 All Social Channels
											.d-flex.align-items-center
												span.text-gray-800.fw-bold.fs-4.me-3 24,588
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4.1%
									.separator.separator-dashed.my-3
									.d-flex.align-items-center
										.symbol.symbol-30px.me-5
											span.symbol-label
												span.svg-icon.svg-icon-3.svg-icon-gray-600
													svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
														path(opacity='0.3' d='M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z' fill='currentColor')
														path(d='M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z' fill='currentColor')
										.d-flex.align-items-center.flex-stack.flex-wrap.d-grid.gap-1.flex-row-fluid
											.me-5
												a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Email Newsletter
												span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Mailchimp Campaigns
											.d-flex.align-items-center
												span.text-gray-800.fw-bold.fs-4.me-3 794
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;0.2%
									.separator.separator-dashed.my-3
									.d-flex.align-items-center
										.symbol.symbol-30px.me-5
											span.symbol-label
												span.svg-icon.svg-icon-3.svg-icon-gray-600
													svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
														path(opacity='0.3' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='currentColor')
														path(d='M19 10.4C19 10.3 19 10.2 19 10C19 8.9 18.1 8 17 8H16.9C15.6 6.2 14.6 4.29995 13.9 2.19995C13.3 2.09995 12.6 2 12 2C11.9 2 11.8 2 11.7 2C12.4 4.6 13.5 7.10005 15.1 9.30005C15 9.50005 15 9.7 15 10C15 11.1 15.9 12 17 12C17.1 12 17.3 12 17.4 11.9C18.6 13 19.9 14 21.4 14.8C21.4 14.8 21.5 14.8 21.5 14.9C21.7 14.2 21.8 13.5 21.9 12.7C20.9 12.1 19.9 11.3 19 10.4Z' fill='currentColor')
														path(d='M12 15C11 13.1 10.2 11.2 9.60001 9.19995C9.90001 8.89995 10 8.4 10 8C10 7.1 9.40001 6.39998 8.70001 6.09998C8.40001 4.99998 8.20001 3.90005 8.00001 2.80005C7.30001 3.10005 6.70001 3.40002 6.20001 3.90002C6.40001 4.80002 6.50001 5.6 6.80001 6.5C6.40001 6.9 6.10001 7.4 6.10001 8C6.10001 9 6.80001 9.8 7.80001 10C8.30001 11.6 9.00001 13.2 9.70001 14.7C7.10001 13.2 4.70001 11.5 2.40001 9.5C2.20001 10.3 2.10001 11.1 2.10001 11.9C4.60001 13.9 7.30001 15.7 10.1 17.2C10.2 18.2 11 19 12 19C12.6 20 13.2 20.9 13.9 21.8C14.6 21.7 15.3 21.5 15.9 21.2C15.4 20.5 14.9 19.8 14.4 19.1C15.5 19.5 16.5 19.9 17.6 20.2C18.3 19.8 18.9 19.2 19.4 18.6C17.6 18.1 15.7 17.5 14 16.7C13.9 15.8 13.1 15 12 15Z' fill='currentColor')
										.d-flex.align-items-center.flex-stack.flex-wrap.d-grid.gap-1.flex-row-fluid
											.me-5
												a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Referrals
												span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Impact Radius visits
											.d-flex.align-items-center
												span.text-gray-800.fw-bold.fs-4.me-3 6,578
												span.badge.badge-light-danger.fs-base
													span.svg-icon.svg-icon-5.svg-icon-danger.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='11' y='18' width='13' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
															path(d='M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;0.4%
									.separator.separator-dashed.my-3
									.d-flex.align-items-center
										.symbol.symbol-30px.me-5
											span.symbol-label
												span.svg-icon.svg-icon-3.svg-icon-gray-600
													svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
														path(opacity='0.3' d='M7 20.5L2 17.6V11.8L7 8.90002L12 11.8V17.6L7 20.5ZM21 20.8V18.5L19 17.3L17 18.5V20.8L19 22L21 20.8Z' fill='currentColor')
														path(d='M22 14.1V6L15 2L8 6V14.1L15 18.2L22 14.1Z' fill='currentColor')
										.d-flex.align-items-center.flex-stack.flex-wrap.d-grid.gap-1.flex-row-fluid
											.me-5
												a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Other
												span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Many Sources
											.d-flex.align-items-center
												span.text-gray-800.fw-bold.fs-4.me-3 79,458
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;8.3%
									.separator.separator-dashed.my-3
									.d-flex.align-items-center
										.symbol.symbol-30px.me-5
											span.symbol-label
												span.svg-icon.svg-icon-3.svg-icon-gray-600
													svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
														path(opacity='0.3' d='M8.70001 6C8.10001 5.7 7.39999 5.40001 6.79999 5.10001C7.79999 4.00001 8.90001 3 10.1 2.2C10.7 2.1 11.4 2 12 2C12.7 2 13.3 2.1 13.9 2.2C12 3.2 10.2 4.5 8.70001 6ZM12 8.39999C13.9 6.59999 16.2 5.30001 18.7 4.60001C18.1 4.00001 17.4 3.6 16.7 3.2C14.4 4.1 12.2 5.40001 10.5 7.10001C11 7.50001 11.5 7.89999 12 8.39999Z' fill='currentColor')
														path(d='M7 20C7 20.2 7 20.4 7 20.6C6.2 20.1 5.49999 19.6 4.89999 19C4.59999 18 4.00001 17.2 3.20001 16.6C2.80001 15.8 2.49999 15 2.29999 14.1C4.99999 14.7 7 17.1 7 20ZM10.6 9.89995C8.70001 8.09995 6.39999 6.89996 3.79999 6.29996C3.39999 6.89996 2.99999 7.49995 2.79999 8.19995C5.39999 8.59995 7.7 9.79996 9.5 11.6C9.8 10.9 10.2 10.3999 10.6 9.89995ZM2.20001 10.1C2.10001 10.7 2 11.4 2 12C2 12 2 12 2 12.1C4.3 12.4 6.40001 13.7 7.60001 15.6C7.80001 14.8 8.09999 14.0999 8.39999 13.3999C6.89999 11.5999 4.70001 10.4 2.20001 10.1ZM11 20C11 14 15.4 8.99996 21.2 8.09996C20.9 7.39996 20.6 6.79995 20.2 6.19995C13.8 7.49995 9 13.0999 9 19.8999C9 20.3999 9.00001 21 9.10001 21.5C9.80001 21.7 10.5 21.7999 11.2 21.8999C11.1 21.2999 11 20.7 11 20ZM19.1 19C19.4 18 20 17.2 20.8 16.6C21.2 15.8 21.5 15 21.7 14.1C19 14.7 16.9 17.1 16.9 20C16.9 20.2 16.9 20.4 16.9 20.6C17.8 20.2 18.5 19.6 19.1 19ZM15 20C15 15.9 18.1 12.6 22 12.1C22 12.1 22 12.1 22 12C22 11.3 21.9 10.7 21.8 10.1C16.8 10.7 13 14.9 13 20C13 20.7 13.1 21.2999 13.2 21.8999C13.9 21.7999 14.5 21.7 15.2 21.5C15.1 21 15 20.5 15 20Z' fill='currentColor')
										.d-flex.align-items-center.flex-stack.flex-wrap.d-grid.gap-1.flex-row-fluid
											.me-5
												a.text-gray-800.fw-bold.text-hover-primary.fs-6(href='#') Rising Networks
												span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Social Network
											.d-flex.align-items-center
												span.text-gray-800.fw-bold.fs-4.me-3 18,047
												span.badge.badge-light-success.fs-base
													span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
														svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
															rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
															path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
													| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1.9%
					.col-xl-4.mb-5.mb-xl-0
						.card.card-flush.h-xl-100
							.card-header.pt-7.mb-7
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-gray-800 Warephase stats
									span.text-gray-400.mt-1.fw-semibold.fs-6 8k social visitors
								.card-toolbar
									a.btn.btn-sm.btn-light(href='../../demo1/dist/apps/ecommerce/catalog/add-product.html') PDF Report
							.card-body.d-flex.align-items-end.pt-0
								#kt_charts_widget_31_chart.w-100.h-300px
					.col-xl-4.mb-5.mb-xl-0
						.card.card-flush.h-xl-100
							.card-header.pt-7.mb-7
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-gray-800 Stats by Department
									span.text-gray-400.mt-1.fw-semibold.fs-6 8k social visitors
								.card-toolbar
									a.btn.btn-sm.btn-light(href='../../demo1/dist/apps/ecommerce/catalog/add-product.html') PDF Report
							.card-body.d-flex.justify-content-between.flex-column
								.d-flex.flex-wrap.d-grid.gap-5.mb-10
									.border-end-dashed.border-end.border-gray-300.pe-xxl-7.me-xxl-5
										.d-flex.mb-2
											span.fs-4.fw-semibold.text-gray-400.me-1 $
											span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 8,035
										span.fs-6.fw-semibold.text-gray-400 Actual for April
									.m-0
										.d-flex.align-items-center.mb-2
											span.fs-4.fw-semibold.text-gray-400.align-self-start.me-1 $
											span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 4,684
											span.badge.badge-light-success.fs-base
												span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
													svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
														rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
														path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
												| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4.5%
										span.fs-6.fw-semibold.text-gray-400 GAP
								#kt_charts_widget_30_chart.w-100.h-200px
