//- #kt_header.d-flex.align-items-stretch(data-kt-menu-trigger='auto' data-kt-menu-overflow='false' data-kt-menu-permanent='true' data-kt-menu-placement='bottom-end')
//-     #kt_header_toggle.d-flex.align-items-center(data-kt-search-element='toggle')
//-         //- .btn.btn-icon.btn-custom.btn-icon-muted.btn-active-light.btn-active-color-primary.w-35px.h-35px.w-md-40px.h-md-40px
//-         .btn.btn-icon.btn-custom.btn-icon-muted.btn-active-light.btn-active-color-primary
//-             span.svg-icon.svg-icon-1 #{authAdmin.selected_brand.name.en} | #{authAdmin.selected_brand.country_name}
