<div class="container">
    <div class="row p-5">
        <div class="billing-info-wrap">
            <h3 class="mb-3 mt-3">Add new Address</h3>
            <form action="/addNewAddress-buyNow" id="address-form" method="POST">
                <div class="row bg-light">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class=" form-group billing-info mb-4 col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" id="fname" name="FirstName" minlength="4" required />
                            </div>
                            <div class="form-group billing-info mb-4 col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" id="lname" name="LastName" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group billing-info mb-4 col-md-12">
                                <label for="house">House Name</label>
                                <input type="text" id="house" name="House" required minlength="4" />
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group billing-info mb-4 col-md-12">
                                <label for="street">Street Address</label>
                                <input class="billing-address" placeholder="street name" id="street" name="Street"
                                    type="text" minlength="4" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group billing-info mb-4 col-md-6">
                                <label for="city">Town / City</label>
                                <input type="text" id="city" name="Town" minlength="4" required />
                            </div>
                            <div class="form-group billing-info mb-4 col-md-6">
                                <label for="pin">Postcode / ZIP</label>
                                <input type="tel" id="pin" name="PIN" onkeypress="return isNumber(event)" maxlength="6" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group billing-info mb-4 col-md-6">
                                <label for="phone">Phone</label>
                                <input type="tel" id="phone" name="Mobile" onkeypress="return isNumber(event)" maxlength="10" required />
                            </div>
                            <div class="form-group billing-info mb-4 col-md-6">
                                <label for="email">Email Address</label>
                                <input type="email" required id="email" name="Email" />
                            </div>
                            <input type="text" name="User" value="{{user._id}}" hidden>
                            <input type="text" name="pId" value="{{pId}}" hidden>
                        </div>
                    </div>
                </div>
                <div class=" text-center pt-3">
                    <input type="submit" class="btn btn-primary " value="Add New Address">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>