<div class="comtainer">
    <div class="row justify-content-center m-5">
        <form action="/admin/images" method="post" enctype="multipart/form-data">
            <input type="text" name="name" class="form-group">
            <input type="file" name="image  " class="form-group">
            <input type="submit" value="upload" class="btn btn-primary">
        </form>
    </div>
</div>