<div class='register-area ptb-100 shop-limited-area bg-img ml-35 mr-35'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto'>
                <div class='login'>
                    <div class='login-form-container'>
                        <div class='text-center mb-5'>
                            <h2>Create Account</h2>
                        </div>
                        <div class='login-form'>
                            <form
                                method='post'
                                action='/auth/signup'
                                id='user-signup'
                            >
                                {{#if signupError}}
                                    <div
                                        class='alert alert-danger'
                                        role='alert'
                                    >
                                        {{signupError}}
                                    </div>
                                {{/if}}
                                <input
                                    type='text'
                                    name='firstName'
                                    id='FirstName'
                                    class='input-full'
                                    placeholder='First Name'
                                    autocapitalize='words'
                                    autofocus
                                />
                                <input
                                    type='text'
                                    name='lastName'
                                    id='lastName'
                                    class='input-full'
                                    placeholder='Last Name'
                                    autocapitalize='words'
                                />
                                <input
                                    type='email'
                                    name='email'
                                    id='Email'
                                    class='input-full'
                                    placeholder='Email'
                                />
                                <input
                                    type='tel'
                                    name='mobileNo'
                                    id='mobileNo'
                                    class='input-full'
                                    onkeypress='return isNumber(event)'
                                    maxlength='10'
                                    placeholder='Mobile Number'
                                    autocorrect='off'
                                    autocapitalize='off'
                                />
                                <input
                                    type='password'
                                    name='password'
                                    id='CreatePassword'
                                    class='input-full'
                                    placeholder='Password'
                                />

                                <div class='button-box'>
                                    <div class='row'>
                                        <div class='login-toggle-btn ml-3'>
                                            <a href='/auth/login'>Already have
                                                an account?</a>
                                        </div>
                                    </div>
                                    <button
                                        type='submit'
                                        class='default-btn floatright'
                                    >Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function isNumber(evt) { evt = (evt) ? evt : window.event; var charCode =
    (evt.which) ? evt.which : evt.keyCode; if (charCode > 31 && (charCode < 48
    || charCode > 57)) { return false; } return true; }
</script>
<script>
    function isEmail(evt) { evt = (evt) ? evt : window.event; var charCode =
    (evt.which) ? evt.which : evt.keyCode; if (charCode > 47 && (charCode < =
    105 )) { return true; } return false; }
</script>